// Variables
$theme: [theme];
$text: #192328;
$text-light: #30353c;
$text-lighter: #4d5a60;
$light-gray: #869095;
$white: #ffffff;
$shadow: rgba(30, 38, 36, 0.12);
$border-radius: 3px;

*::selection {
  background-color: #dcf3ff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: $text;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 10px 0;
}
h1 {
  font-size: 42px;
  margin: -60px 0 40px;

  padding-top: 60px;
}
h2 {
  font-size: 30px;
  margin: -40px 0 20px 0;

  padding-top: 60px;

  &::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #E1E8E8;  
  }
}
h3 {
  font-size: 25px;
  margin-top: -60px;
  padding-top: 60px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}


p, ul, ol {
  color: $text-lighter;
  line-height: 1.4em;
}

p {
  margin: 20px 0 30px 0;

  &:empty {
    margin: 15px 0;
  }
}

a {
  color: $theme;
  font-weight: 600;
  text-decoration: none;
  transition: color .15s ease, opacity .15s ease;

  &:hover {
    opacity: 0.7;
  }

  &.brand {
    display: block;
  }

  &.anchor {
    color: inherit;

    &:hover {
      /* border-bottom is used as it gives more control */
      opacity: 1;
      border-bottom: 3px solid $theme;
    }
  }

  /* Styles for Skip link for improved accessibility */
  &.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    color: $theme;
    background-color: $white;
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    z-index: 110;
    transition: top 0.2s ease;
    box-shadow: 0 3px 10px $shadow;
    
    &:focus {
      top: 0;
    }
  }

  &.brand img {
    border-radius: 0;
    height: 25px;  
  }
}

code {
  background-color: #f0f2f2;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: $border-radius;
  margin: 0 3px;
  font-family: 'Source Sans Pro', monospace;
  font-weight: 600;
  white-space: nowrap;
}

b, strong {
  font-weight: 600;
  color: $text-light;
}

ul {
  list-style: disc outside none !important;
  padding-left: 20px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  border-radius: $border-radius;
  vertical-align: middle;

  &.emoji {
    height: 20px;
  }
}

blockquote {
  border-left: 3px solid $light-gray;
  border-radius: $border-radius;
  padding-left: 15px;

  p {
    color: $light-gray;
  }
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 30px;
  
  background-color: $white;
  box-shadow: 0 2px 3px $shadow;

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button.theme-toggle {
      width: 60px;
      height: 60px;
      border: none;
      font-size: 20px;
      color: $light-gray;
      background-color: transparent;
      border-left: 1px solid rgba(117, 117, 117, 0.2);
      margin: 0 -30px 0 20px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    a, span {
      height: 60px;
      display: inline-flex;
      align-items: center;
    }
  }
}

header nav, footer {

  span {
    position: relative;
  }

  a, span {
    padding: 0 10px;
    font-weight: 600;

    i[class*="ion-"]:not([class*="ion-ios-arrow-"]) {
      margin: 0 4px;
    }
  }
}


span {

  i[class*="ion-ios-arrow-"] {
    margin-left: 8px;
    font-size: 12px;
  }

  &:hover div.drop-menu,
  &:focus div.drop-menu,
  div.drop-menu.focused {
    visibility: visible;
    opacity: 1;  
  }

  div.drop-menu {
    opacity: 0;
    visibility: hidden;
  
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 100px;
    width: 100%;
    background-color: $white;
    border: 1px solid #E1E8E8;
    border-radius: $border-radius;
    box-shadow: 0 3px 8px rgba(30, 38, 36, .12);
    transition: all 0.2s ease;

    span, a {
      padding: 10px 15px;
      display: block;
      height: auto;    
    }
  }
}

footer {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 0 30px;
  text-align: right;
  color: $light-gray;

  span {
    height: 40px;
    display: inline-flex;
    align-items: center;
  
    div.drop-menu {
      top: auto;
      bottom: 40px;
      box-shadow: 0 3px 3px rgba(30, 38, 36, .05);
    }
  }
}

table {
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  
  th, td {
    padding: 3px 12px;
    border: 1px solid #d7d9d9;
  }

  th {
    background-color: #F0F2F2;
    font-weight: 600;
  }

  td {
    color: $text-lighter;
  }

}

.container {
  display: flex;

  &.fixed-head {
    .sidebar {
      padding: 80px 25px 20px 25px;
    }

    main {
      padding: 80px 0 20px 80px;
    }

    aside {
      margin-top: 90px;
    }
  }
}

.sidebar {
  background-color: #F0F2F2;
  box-shadow: inset -10px 0 50px 0 $shadow;
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19%;
  z-index: 98;
  padding: 35px 25px;
  overflow-x: hidden;
  overflow-y: auto;

  &:empty {
    display: none;

    & ~ main {
      margin-left: 0;
    }

    & ~ .sidebar-control {
      display: none !important;
    }
  }

  a {
    color: $text;

    &:hover {
      border-bottom: 2px solid $theme;
    }
  }

  div.page {
    padding: 5px 0;
    font-weight: 600;
  }

  .indent {
    padding: 2px 0 2px 20px;

    a {
      font-weight: 400;
      color: $text-lighter;
      font-size: 16px;    
    }
  }
}

main {
  padding: 20px 0 20px 80px;
  margin-left: 19%;
  max-width: 34em;


  .page-nav {
    display: flex;
    margin-top: 25px;

    div {

      .icon {
        margin: 0 5px;
      }
     
      &:first-child {
        margin-right: auto;
      }

      .parent {
        font-weight: 600;
        text-transform: uppercase;
        color: $light-gray;
        font-size: 14px;
      }
    }
  }

}

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 19% - 30px - (34em + 150px));
  max-height: calc(100vh - 150px);
  font-size: 16px;
  font-weight: 600;
  overflow-y: auto;

  margin-top: 50px;
  padding: 0 20px 0 30px;
  border-left: 1px solid #E1E8E8;

  div {

    &:first-child {
      margin-bottom: 15px;
      text-transform: uppercase;
      color: $light-gray;
      font-size: 14px;
    }

    &:not(:first-child) {
      padding-top: 10px;
      padding-bottom: 2px;    
    }

    a {
      color: $text-lighter;

      &:hover {
        color: $theme !important;
      }
    }

    &.indent {
      padding: 2px 0 2px 20px;

      a {
        font-size: 14px;
        font-weight: 400;      
      }
    }
  }
}

.sidebar-control {
  position: fixed;
  left: 8px;
  bottom: 12px;
  display: none;
  z-index: 99;
  font-size: 1.7rem;
  border: none;
  background: transparent;
  color: $theme;
  cursor: pointer;
  user-select: none;
}

/** Media queries **/

@media screen and (min-width: 700px) and (max-width: 1080px) {
  aside + main {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1080px) {

  /* Break word, as open sidebar may cause horizontal scrolling */
  h1, code {
    word-wrap: break-word;
  }

  aside {
    display: none;
  }

  .sidebar {
    width: 180px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .sidebar-active {
    transform: translateX(0);

    & ~ main {
      margin-left: 180px;
      width: calc(100% - 180px);  
    }
  }

  main {
    width: 100%;
    margin-left: 0;
    padding-right: 30px !important;
    padding-left: 30px !important;
    transition: margin-left 0.3s ease;
  }

  .sidebar-control {
    display: initial;
  }
}



/*
Name:   Base2Tone-Sea Light
Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)

http://atelierbram.github.io/Base2Tone-prism/demo/evening/light/
Prism template for Base2Tone by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #f9fbfa;
  color: #57718e;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #f9fbfa;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #f9fbfa;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b7c2be;
}

.token.punctuation {
  color: #b7c2be;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
  color: #004a9e;
}

.token.property,
.token.function {
  color: #0aa370;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #067953;
}

code.language-javascript,
.token.attr-name {
  color: #0aa370;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #34659d;
}

.token.placeholder,
.token.variable {
  color: #7eb6f6;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #067953;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #0aa370;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #0aa370;
  outline-offset: .4em;
}


div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}



/**
Prism JS overrides
**/

main div.code-toolbar > .toolbar .toolbar-item {
  margin: 0 0.2em;
}
main div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
  color: $text-lighter !important;
  padding: 0.1em 0.5em !important;
  background: $white !important;
  border-radius: $border-radius !important;
  box-shadow: none !important;
}

main div.code-toolbar code[class*="language-"] {
  padding: 0;
  font-weight: initial;
}

main code[class*="language-"], pre[class*="language-"] {
  text-shadow: none !important;
}
