* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #192328;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 10px 0;
}
h1 {
  font-size: 42px;
  margin-bottom: 40px;
}
h2 {
  font-size: 30px;
  margin: 20px 0;
}
h2::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #E1E8E8;
}

h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

p {
  max-width: 33em;
  color: #4D5A60;
  line-height: 1.4em;
  margin: 20px 0 40px 0;
}

a {
  color: #1CA9F0;
  font-weight: 600;
  text-decoration: none;
}

code {
  background-color: #f0f2f2;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 3px;
  margin: 0 3px;
  font-family: 'Source Sans Pro', monospace;
  font-weight: 600;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #F0F2F2;
  box-shadow: inset -10px 0 50px 0 rgba(30, 38, 36, 0.12);
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19%;

}

.content {
  padding: 20px 60px;
  margin-left: 19%;
}