body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #192328;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 10px 0;
}
h1 {
  font-size: 42px;
  margin-bottom: 40px;
}
h2 {
  font-size: 30px;
  margin: 40px 0 20px 0;
}
h2::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #E1E8E8;
}

h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}


p, ul, ol {
  color: #4D5A60;
  line-height: 1.4em;
}

p {
  margin: 20px 0 30px 0;
}

a {
  color: #1CA9F0;
  font-weight: 600;
  text-decoration: none;
}

code {
  background-color: #f0f2f2;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 3px;
  margin: 0 3px;
  font-family: 'Source Sans Pro', monospace;
  font-weight: 600;
  white-space: nowrap;
}

b, strong {
  font-weight: 600;
  color: #30353c;
}

ul {
  list-style: disc outside none !important;
  padding-left: 20px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  border-radius: 3px;
}

blockquote {
  border-left: 3px solid #869095;
  border-radius: 2px;
  padding-left: 15px;
}
blockquote p {
  color: #869095;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #F0F2F2;
  box-shadow: inset -10px 0 50px 0 rgba(30, 38, 36, 0.12);
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19%;

}

.content {
  padding: 20px 60px;
  margin-left: 19%;
  max-width: calc(34em + 60px);
}


/**
Prism JS overrides
**/

.content div.code-toolbar > .toolbar .toolbar-item {
  margin: 0 0.2em;
}
.content div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
  color: #4D5A60 !important;
  padding: 0.1em 0.5em !important;
  background: #ffffff !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}

.content div.code-toolbar code[class*="language-"] {
  padding: 0;
  font-weight: initial;
}

.content code[class*="language-"], pre[class*="language-"] {
  text-shadow: none !important;
}