*::selection {
  background-color: #dcf3ff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #192328;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 10px 0;
}
h1 {
  font-size: 42px;
  margin-bottom: 40px;
}
h2 {
  font-size: 30px;
  margin: 40px 0 20px 0;
}
h2::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #E1E8E8;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}


p, ul, ol {
  color: #4D5A60;
  line-height: 1.4em;
}

p {
  margin: 20px 0 30px 0;
}

a {
  color: #1CA9F0;
  font-weight: 600;
  text-decoration: none;
  transition: color .15s ease, opacity .15s ease;
}
a:hover {
  opacity: 0.7;
}
a.anchor {
  color: inherit;
}
a.anchor:hover {
  /* border-bottom is used as it gives more control */
  opacity: 1;
  border-bottom: 3px solid #1CA9F0;
}

code {
  background-color: #f0f2f2;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 3px;
  margin: 0 3px;
  font-family: 'Source Sans Pro', monospace;
  font-weight: 600;
  white-space: nowrap;
}

b, strong {
  font-weight: 600;
  color: #30353c;
}

ul {
  list-style: disc outside none !important;
  padding-left: 20px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  border-radius: 3px;
  vertical-align: middle;
}
a.brand img {
  border-radius: 0;
  height: 30px;
}

blockquote {
  border-left: 3px solid #869095;
  border-radius: 2px;
  padding-left: 15px;
}
blockquote p {
  color: #869095;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 0 30px;
  
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(30, 38, 36, 0.12);
}
header a.brand {
  display: none;
}
header a.brand img {
  height: 25px;
}
header nav {
  flex: 1;
  text-align: right;
}
header nav a, header nav span {
  padding: 0 10px;
  font-weight: 600;
}

footer {
  height: 50px;
  width: 100%;
}

.container {
  display: flex;
}

.sidebar {
  background-color: #F0F2F2;
  box-shadow: inset -10px 0 50px 0 rgba(30, 38, 36, 0.12);
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19%;
  z-index: 10;
  padding: 20px 25px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar a.brand:hover {
  border: none;
}
.sidebar a.brand img {
  margin-bottom: 10px;
}
.sidebar a {
  color: #192328;
}
.sidebar a:hover {
  border-bottom: 2px solid #1CA9F0;
}
.sidebar div.page {
  padding: 5px 0;
}
.sidebar div.page {
  font-weight: 600;
}
.sidebar .indent {
  padding: 2px 0 2px 20px;
}
.sidebar .indent a {
  font-weight: 400;
  color: #4D5A60;
  font-size: 16px;
}

.content {
  padding: 80px 0 20px 80px;
  margin-left: 19%;
  max-width: calc(34em);
}

.index {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 19% - 30px - (34em + 150px));
  font-size: 16px;
  font-weight: 600;

  margin-top: 90px;
  padding-left: 30px;
  border-left: 1px solid #E1E8E8;
}
.index div:first-child {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #869095;
  font-size: 14px;
}
.index div:not(:first-child) {
  padding-top: 10px;
  padding-bottom: 2px;
}

.index div a {
  color: #4D5A60;
}
.index div a:hover {
  color: #1CA9F0;
}

.index div.indent {
  padding: 2px 0 2px 20px;
}
.index .indent a {
  font-size: 14px;
  font-weight: 400;
}

/**
Prism JS overrides
**/

.content div.code-toolbar > .toolbar .toolbar-item {
  margin: 0 0.2em;
}
.content div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
  color: #4D5A60 !important;
  padding: 0.1em 0.5em !important;
  background: #ffffff !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}

.content div.code-toolbar code[class*="language-"] {
  padding: 0;
  font-weight: initial;
}

.content code[class*="language-"], pre[class*="language-"] {
  text-shadow: none !important;
}

/** Media queries **/

@media screen and (min-width: 700px) and (max-width: 1080px) {
  .content {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 1080px) {

  header a.brand {
    display: block;
  }

  .index {
    /* TODO: Make the contents responsive */
    display: none;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .content {
    width: 100%;
    margin-left: 0;
    padding: 80px 20px 20px 40px;
  }
}