<!DOCTYPE html>
<html lang="en">
<head>
  {{ meta }}
  <title>{{ title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  {{ link }}
</head>
<body>
  <header>
    <div class="brand"></div>
    <nav>{{ nav }}</nav>
  </header>
  <div class="container">
    <div class="sidebar"></div>

    <div class="content">
      {{ content }}
    </div>

    <div class="index">
      {{ index }}
    </div>
  </div>
  {{ body }}

  <footer>
  </footer>
</body>
</html>