<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  {{ head }}
</head>
<body>
  <a class="skip-link" href="#content">Skip to content</a>
  {{ header }}
  <div class="container">
    <div class="sidebar">
      {{ sidebar }}
    </div>

    <aside>
      {{ index }}
    </aside>

    <main id="content">
      {{ content }}
    </main>

    <button class="sidebar-control" onclick="toggleSidebar()"><i class="icon ion-md-menu"></i></button>
  </div>
  {{ body }}

  <footer>
    {{ footer }}
  </footer>
  <!-- browsersync -->
</body>
</html>